flask
gunicorn
gpytranslate
pytgcalls==3.0.0.dev22
wget
uvloop
ffmpeg-python
yt-dlp
youtube-search
python-arq
youtube_dl
youtube-search-python
APScheduler==3.7.0
aiohttp
aiofiles
bs4
googlesearch-python==1.0.1
gpytranslate
gtts
asyncio
Pillow
lottie
tracemoepy
urllib3
google-search==1.1.1
google==3.0.0
yourls
gitpython
humanize
httpx
heroku3
requests
motor==3.0.0
opencv-python-headless
psutil
pyrogram
pymongo
python-dotenv
psycopg2-binary
pymediainfo
prettytable
git+https://github.com/Itz-fork/py-trans.git
reportlab
openai
svglib
speedtest-cli==2.1.3
tgcrypto 
telegraph
uwuify
httpx[http2]
geezlibs==1.3.7
git+https://github.com/Itz-fork/py-extract.git
